{% include "base.html" %}
<section id="section-download" class="download">
    <div class="container">
        <h2 class="title">Download</h2>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-4">
                            <p><b>Filename</b></p>
                            <p><a href="/releases/mimedefang-{{ MD_VER }}.tar.gz">mimedefang-{{ MD_VER }}.tar.gz</a></p>
                            <p>MIMEDefang {{ MD_VER }} Release</p>
                        </div>
                        <div>
                            <p><b>Signature</b></p>
                            <p><a href="/releases/mimedefang-{{ MD_VER }}.tar.gz.sig">Yes</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-4">
                            <p><b>Filename</b></p>
                            <p><a href="/releases/opensmtpd/mimedefang-smtpd-filter-{{ MD_SMTPD_VER }}.tar.gz">mimedefang-smtpd-filter-{{ MD_SMTPD_VER }}.tar.gz</a></p>
                        </div>
                        <div class="mb-4">
                            <p><b>Description</b></p>
                            <p>OpenSMTPd filter</p>
                            <p><small>(Optional: required only to use MIMEDefang with <a href="https://opensmtpd.org" target="_blank">OpenSMTPd</a> mta)</small></p>
                        </div>
                        <div>
                            <p><b>Signature</b></p>
                            <p><a href="/releases/opensmtpd/mimedefang-smtpd-filter-{{ MD_SMTPD_VER }}.tar.gz.sig">Yes</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <p><b>Perl Modules from CPAN</b></p>
                        <ul>
                            <li><a href="https://metacpan.org/search?q=MIME-tools">MIME-tools</a></li>
                            <li><a href="https://metacpan.org/search?q=MIME-Base64">MIME-Base64</a></li>
                            <li><a href="https://metacpan.org/release/MailTools">MailTools</a></li>
                            <li><a href="https://metacpan.org/search?q=Digest-SHA1">Digest-SHA1</a></li>
                            <li><a href="https://metacpan.org/search?q=Unix-Syslog">Unix-Syslog</a></li>
                            <li><a href="https://metacpan.org/search?q=Net-DNSBL-Client">Net-DNSBL-Client</a></li>
                            <li><a href="https://metacpan.org/search?q=IO-Socket-SSL">IO-Socket-SSL</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row previous-release">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <p><b>Previous Releases</b></p>
                        <div class="release-list">
                            <ul style="list-style-type: none;">
                              {% block content %}
                              {{ page.content }}
                              {% endblock %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "footer.html" %}
