{% include "base.html" %}
<section id="section-faq" class="faq download">
  <div class="container">
  <h2 class="title">FAQ</h2>
  <div class="row justify-content-center">
   <div class="col-md-12 col-sm-10">
     {% block content %}
     <h4 class="mt-2 mb-3">For End Users</h4>
     <div class="list-group mb-4">
	    {% for article in articles|sort(attribute="num") %}
	    {% if article.category == 'faq' and article.audience == 'enduser' %}
      <a class="list-group-item list-group-item-action" href="#{{ article.slug }}" role="button"><i class="bi bi-caret-right-fill me-2"></i>{{ article.title }}</a>
	  	<div class="collapse-div collapse" id="{{ article.slug }}">
        <div class="text">
          {{ article.content }}
        </div>
      </div>
      {% endif %}
      {% endfor %}
     </div>
     <h4 class="mt-2 mb-3">For Administrators</h4>
     <div class="list-group">
	    {% for article in articles|sort(attribute="num") %}
	    {% if article.category == 'faq' and article.audience == 'admin' %}
      <a class="list-group-item list-group-item-action" href="#{{ article.slug }}" role="button"><i class="bi bi-caret-right-fill me-2"></i>{{ article.title }}</a>
	  	<div class="collapse-div collapse" id="{{ article.slug }}">
        <div class="text">
          {{ article.content }}
        </div>
      </div>
      {% endif %}
      {% endfor %}
     </div>
     {% endblock %}
    </div>
  </div>
  </div>
</section>
<script>
  var collapseLink = document.querySelectorAll('#section-faq .list-group > a');
  collapseLink.forEach( link => {
      link.setAttribute("data-bs-toggle", "collapse");
  })

  var collapseDiv = document.querySelectorAll('.collapse-div');
  collapseDiv.forEach( div => {
      div.addEventListener('show.bs.collapse', function (e) {
          document.querySelector("[href='#"+e.target.id+"'] > i").classList.add('bi-caret-down-fill');
          document.querySelector("[href='#"+e.target.id+"'] > i").classList.remove('bi-caret-right-fill');
      })
      div.addEventListener('hide.bs.collapse', function (e) {
          document.querySelector("[href='#"+e.target.id+"'] > i").classList.add('bi-caret-right-fill');
          document.querySelector("[href='#"+e.target.id+"'] > i").classList.remove('bi-caret-down-fill');
      })
  })
</script>
{% include "footer.html" %}
