    </main>
    <footer>
        <div class="container py-4">
            <div class="row align-items-center gy-3">
                <div class="col-md-4 text-center text-md-start">
                    <img src="{{ SITEURL }}/theme/images/mimedefang_logo9-300x150.png" alt="MIMEDefang" class="footer-logo">
                </div>
                <div class="col-md-4 text-center">
                    <p class="footer-copy mb-0">Copyright &copy; {{ YEAR }} MIMEDefang. All trademarks and registered servicemarks are the property of their respective companies.</p>
                </div>
                <div class="col-md-4 text-center text-md-end">
                    <a href="https://github.com/The-McGrail-Foundation/MIMEDefang" class="footer-icon me-2" aria-label="GitHub"><i class="bi bi-github"></i></a>
                    <a href="https://metacpan.org/dist/Mail-MIMEDefang" class="footer-icon" aria-label="MetaCPAN"><i class="bi bi-box-seam"></i></a>
                    <a href="https://hub.docker.com/u/mimedefang" class="footer-icon ms-2" aria-label="Docker Hub"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 18" fill="currentColor" aria-hidden="true"><path d="M13.5 3H12V0h1.5v3zm-3 0H9V0h1.5v3zm-3 0H6V0h1.5v3zm6 3h-1.5V3H13.5v3zm-3 0H9V3h1.5v3zm-3 0H6V3h1.5v3zm-3 0H3V3h1.5v3zm9 3h-1.5V6H16.5v3zm-3 0H10.5V6H13.5v3zm-3 0H7.5V6H10.5v3zm-3 0H4.5V6H7.5v3zm-3 0H1.5V6H4.5v3zM23.3 9.5a3.6 3.6 0 0 0-2.8-1.2 3.8 3.8 0 0 0-.3-2.2H18a5.2 5.2 0 0 1 .1 2.4 5.7 5.7 0 0 0-2 .3C14.9 7 13 6.1 10.2 6.4c-2.8.4-4 2-4.5 3.3a4.9 4.9 0 0 0-3.1 1.1A4.3 4.3 0 0 0 1 14c0 2.4 1.9 4 4.3 4h13.4c2.1 0 4.1-1.4 4.6-3.3a3.7 3.7 0 0 0 0-5.2z"/></svg></a>
                </div>
            </div>
        </div>
    </footer>
    <script src="{{ SITEURL }}/theme/js/bootstrap.bundle.min.js"></script>
    <script>
    (function () {
        var nav = document.querySelector('.navbar');
        function onScroll() {
            nav.classList.toggle('navbar-scrolled', window.scrollY > 10);
        }
        window.addEventListener('scroll', onScroll, { passive: true });
    })();
    </script>
</body>

</html>
