{% include "base.html" %}
{% block content %}
    <section class="whatis">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                  {{ page.content }}
                </div>
                <aside class="col-md-12 col-lg-6" aria-label="Latest releases">
                    <div class="card">
                        <div class="card-body">
                          {{ RELEASES }}
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>
{% endblock %}
{% block thankyou %}
<div class="thanks-note">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-auto thanks-text">{{ THANKYOU }}</div>
            <div class="col-auto">
                <img src="{{ SITEURL }}/theme/images/Zix.png" class="thanks-logo">
            </div>
            <div class="col-auto">
                <img src="{{ SITEURL }}/theme/images/appriver.png" class="thanks-logo">
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% include "footer.html" %}
